/* Master Styles */

.bcg-image{
  filter: grayscale(100%) brightness(40%) sepia(20%);
  z-index: -1;
  width: 100%;
  position: fixed;

}

.player-desc{
  margin-top: 10px;
}

.row{
  line-height: 1;
}

.main-title{
  font-size: 190px;
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin-left: 50px;
  margin-top: 50px;
  opacity: 0.8;
}

.sub-component-title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  color: white;
  margin: 20px;
  margin-left: 30%;
}

.list-item{
  margin: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 10px;
  background: rgba(255,255,255,0.65);
  border-radius: 1px; 
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 750;
}

.list-item-reverse{
  margin: 10px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 15px;
  padding: 10px;
  background: rgba(255,255,255,0.1);
  border-radius: 1px; 
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.bold{
  font-weight: 700;
}

.player-list-margin{
  margin-bottom: 5px;
}

.list-item:hover{
  background: rgba(255,255,255,0.9);
  cursor: hand;
}

.search-box{
  margin: 20px;
  margin-left: 70px;
  opacity: 0.95;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}

nav{
    margin-left: 20px;
     margin-right: 20px;
     margin-bottom: 50px;
}
/* Navigation link styles */
nav a {
  padding: 3px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  border-bottom: solid 2px #888;
  color: #333;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #fafafa;
}

nav a:hover {
  color: #444;
  background-color: #f5f5f5;
  text-decoration: none;
  border-bottom: solid 2px #fff;
}
nav a.active {
  text-decoration: none;
  color: #fff;
  background-color: rgba(240,240,240,0.3); 
}

.teamname{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
}

.playername{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  font-size: 15px;
}

ul{
  list-style-type: none
}

.teamdiv{
  margin-top: 80px;
}

.details-desc{
  padding: 100px;
  padding-top: 20px;
  margin: 20px;
  border-top: solid 1px #999;
}

.player-picture{
  height: 200px;
  width: auto;
  border-radius: 5%!important;
}

/* items class */

